In [1]:
import pandas as pd
df=pd.read_csv(r'D:\studies\ml csv files\spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
from sklearn.preprocessing import LabelEncoder 
le= LabelEncoder()

In [3]:
data=df
data['spam']=le.fit_transform(data.Category)
data.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [4]:
data=data.drop(['Category'],axis='columns')
data.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(data.Message,df.spam,test_size=0.2)

In [8]:
X_transformed=cv.fit_transform(X_train)
X_transformed.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [9]:
from sklearn.naive_bayes import MultinomialNB

In [10]:
mb=MultinomialNB()

In [11]:
mb.fit(X_transformed,y_train)

MultinomialNB()

In [12]:
message=['how you doin?',
        ' Free friends show for Free only on hbo plus']
message_transformed=cv.transform(message)

In [13]:
mb.predict(message_transformed)

array([0, 1])

In [14]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('mnb',MultinomialNB())
])

In [15]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('mnb', MultinomialNB())])

In [16]:
clf.score(X_test,y_test)

0.989237668161435